[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chatgpt = "==2.2212.0"
requests = "==2.28.2"
pyreadline3 = "==3.4.1"

[dev-packages]

[requires]
python_version = "3.9"
